<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Developer Message : </h1>

    <br>
    <br>     


    <p>Welcome to our website! We specialize in disease prediction
         using machine learning technology. Our advanced model utilizes a dataset
          containing a wide range of symptoms and employs the powerful Random Forest algorithm to 
          accurately predict potential illnesses. By leveraging the latest advancements in artificial 
          intelligence and data science, we provide users with valuable insights into their health, 
          empowering them to take proactive measures towards a healthier lifestyle.
           Explore our platform to discover how our innovative approach is revolutionizing healthcare and shaping the future of predictive medicine.</p>

      <br>
      <br>     

     <h1>Regards : Nirjay Kumar</h1>      
</body>
</html>
